@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif !important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: url("../../assets/images/background/newsletter_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
body .maintenance_card {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 500px;
}
body .maintenance_card h3, body .maintenance_card p {
  color: #184363;
}
body .maintenance_card hr {
  width: 90%;
  margin: auto;
}
body .maintenance_card .spinner {
  color: #184363;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}
body .maintenance_card .btn-outline-facebook {
  border: 1px solid #4c9ece !important;
  color: #4c9ece;
  margin: 10px;
}
body .maintenance_card .btn-outline-facebook i {
  font-size: 25px;
}
body .maintenance_card .btn-outline-facebook:hover {
  border: 1px solid #2e477e !important;
  color: #2e477e;
}
body .maintenance_card .btn-outline-twitter {
  border: 1px solid #55acee !important;
  color: #55acee;
  margin: 10px;
}
body .maintenance_card .btn-outline-twitter i {
  font-size: 25px;
}
body .maintenance_card .btn-outline-twitter:hover {
  border: 1px solid #377aad !important;
  color: #377aad;
}
body .maintenance_card .btn-outline-linkedin {
  border: 1px solid #007bb6 !important;
  color: #007bb6;
  margin: 10px;
}
body .maintenance_card .btn-outline-linkedin i {
  font-size: 25px;
}
body .maintenance_card .btn-outline-linkedin:hover {
  border: 1px solid #133646 !important;
  color: #133646;
}
body .maintenance_card .btn-outline-whatsApp {
  border: 1px solid #44944c !important;
  color: #44944c;
  margin: 10px;
}
body .maintenance_card .btn-outline-whatsApp i {
  font-size: 25px;
}
body .maintenance_card .btn-outline-whatsApp:hover {
  border: 1px solid #295a2e !important;
  color: #295a2e;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}